@import './vars';

.#{$namespace}-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @include horizontal() {
    justify-content: flex-start;
  }

  &__tab {
    background-color: transparent;
    border: 0;

    position: relative;

    font-family: inherit;
    font-size: getEm(16px);
    color: $black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    flex: 1 1 50%;

    height: 3.5em;
    padding-bottom: 0;
    padding-top: 0;

    padding-right: getEm(12px);
    padding-left: getEm(12px);

    cursor: pointer;

    &:after {
      background-color: $grey;
      transform: scaleX(0);

      transition: transform 0.25s ease-in-out,
        background-color 0.25s ease-in-out;

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      display: block;
      height: 4px;

      content: '';
    }

    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }

    &.active {
      &:after {
        transform: scaleX(1);
      }
    }

    &:first-child {
      &:after {
        transform-origin: right center;
      }

      &.active {
        &:after {
          background-color: $green;
        }
      }
    }

    &:last-child {
      &:after {
        transform-origin: left center;
      }

      &.active {
        &:after {
          background-color: $yellow;
        }
      }
    }

    img {
      margin-right: getEm(8px);
      margin-left: auto;
    }

    span {
      margin-right: auto;

      white-space: nowrap;
    }

    @include horizontal() {
      flex: 0 0 auto;

      &:last-child {
        margin-left: getEm(16px);

        @media screen and (max-width: 768px) {
          margin-left: 0;
        }
      }
    }
  }
}
